@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* **----------- General -------------*/

* {
  margin: 0 auto;
  padding: 0;
  max-width: 960px;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Montserrat', serif;
  font-weight: 400;
}

/* **---------- Logo and Navigation ------------- */
nav {
  /* background: #0082e6; */
  height: 60px;
  width: 100%;
}

label.logo {
  color: white;
  color: rgb(46, 165, 42);
  font-size: 30px;
  line-height: 70px;
  padding: 0 30px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  /* color: rgb(46, 165, 42); */
  font-size: 12px;
  /* padding: 7px 13px;
  border-radius: 3px; */
  text-transform: uppercase;
  text-decoration: none;
}

a.active,
a:hover {
  /* background: #1b9bff; */
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  /* color: white; */
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  /* display: none; */
}

#check {
  display: none;
}

@media (max-width: 960px) {
  .checkbtn {
    display: block;
  }
}

ul {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #2c3e50;
  top: 0px;
  left: -100%;
  text-align: center;
  transition: all 0.5s;
}

nav ul li {
  display: block;
  margin: 30px 0;
  line-height: 30px;
}

a:hover,
a.active {
  color: #0082e6;
}

#check:checked ~ ul {
  left: 0;
}

/* **************** HOME page *************** */

.periods {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
}

.periods div {
  padding: 1em;
  margin: 3px;
  justify-content: center;
}

.baroque {
  flex: 1;
  background-color: cadetblue;
}

.classic {
  flex: 1;
  background-color: skyblue;
}

.romantic {
  flex: 1;
  background-color: cornflowerblue;
}

.modernist {
  flex: 1;
  background-color: darkseagreen;
}

.periods div h4,
h5 {
  text-align: center;
}

.addional-info {
  padding: 0 50px;
  font-weight: bold;
}

/* ************ TIMELINE page ************ */

/* -- Settings for All Four Periods (4 boxes) -- */
.content-tml {
  display: flex;
  padding-left: 30px;
  /* left: 2%;
  right: 5%; */
}

.content-brq {
  flex: 1;
  color: cadetblue;
}

.content-clss {
  flex: 1;
  color: skyblue;
}

.content-rmn {
  flex: 1;
  color: cornflowerblue;
}

.content-mdr {
  flex: 1;
  color: darkseagreen;
}

.content-tml h5 {
  font-size: 1em;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
  text-align: left;
}

.content-tml p {
  font-size: 0.8em;
}

/* ************ RELATED page ************ */

.related-content {
  /* Lets Flex wrap when possible */
  /* flex-wrap: wrap; */
  display: flex;
  /* position: relative; */
  padding-top: 30px;
  width: 50%;
  /* padding-left: -1%; */
  /* padding-right: 10%; */
}

.related-content div {
  flex: 1;
  text-align: center;
  /* border: 2px red solid; */
}

.related-content ul {
  margin-top: 0px;
}

/* .rel-1 {
  margin: 0 15px 30px;
  padding: 20px;
  border-radius: 6px;
  box-sizing: border-box;
  width: calc(50% - 30px);
} */

/* @media screen and (max-width: 480px) {
  
  .rel-1 {
    width: 100%;
  }
} */

/* ************ ABOUT page ************ */

.content-about {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.content-about p {
  font-size: 1em;
  line-height: 1.6em;
}

/* **------ All Titles Settings (h2, h3) ------------ */

.page-title {
  text-align: center;
  margin-bottom: 0px;
}

.span-title {
  text-align: center;
  margin-top: 0px;
  /* margin-bottom: 0.3em; */
}

/* **---------- Responsive Settings ------------ */

@media (max-width: 735px) {
  .periods,
  .content-tml,
  .related-content {
    flex-direction: column;
    align-items: center;
  }
}

/* @media (max-width: 480px) {
  .periods,
  .content-tml,
  .related-content {
    flex-direction: column;
  }
} */
